

.yellowbox{
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 5px;
}
.yellowbox-p{
    color: black;
    margin-top: 5px;
    margin-bottom: 20px;
}
.imagebox{ 
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    max-width: 80%; 
     }

.infop-variant1{
    max-width: 80%;
}     

.infop-variant2{
    max-width: 80%;
    border-radius: 18px;
    border: 10px solid #F28B0B;
    padding: 20px;
}

.image-over-section{
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-headline{

    color: #F28B0B;

    margin-top: 20px;

    margin-bottom: 20px;

    margin-left: auto;

    margin-right: auto;

}

.event-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contact-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.container-of-yellowbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    margin-left: auto;
    margin-right: auto;
    gap: 100px; 
}

.event{
    padding: 30px 30px;
        gap: 30px;
        max-width: 50%;
}
.contact-box{
    padding: 30px 30px;
    gap: 30px;
    
}
.event-img{
    max-width: 30%;
    display: flex;
    flex-direction: row;
}
.form-container{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
input[type=text], textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
  }
  input[type=reset]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #F28B0B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset]:hover {
    background-color: #e9c08e;
  }
  label{
    font-size: 30px;
    color: white;
    font-weight: bold;
  }
  /* images*/

  .logo {
    width: auto; 
    height: 100px;
  }
  .hero-background{
    width: 100%; 
    height: auto;
  }
  .dino{
    width: 100%; 
    height: auto;
  }
  .navlogo{
    width: auto; 
    height: 60px;
  }
  .night-dino{
    width: 100%; 
    height: auto;
  }
  .planet-small{
    width: 100%; 
    height: auto;
  }
  .two-rocks{
    width: 100%; 
    height: auto;
  }
  .scientest{
    width: 100%; 
    height: auto;
  }
  .museum{
    width: 100%; 
    height: auto;
  }
  .rock{
    width: 100%; 
    height: auto;
  }
  .kids{
    width: 100%; 
    height: auto;
  }
  .poster{
    width: 100%; height: auto;
  }
  .science{
    width: 100%; 
    height: auto;
  }
  .planet-stars{
    width: 100%; 
    height: auto;
  }
  .fossil{
    width: 100%; 
    height: auto;
  }

@media (max-width: 1200px){
    .event-section{
        flex-direction: column;
        gap: 0px;
    }
  
    .yellowbox-p{
        font-size: 20px;
    }
    .event{
        max-width: 90%;
    }
    .event-img{
        max-width: 50%;
    }
    .container-of-yellowbox{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .contact-section{
        flex-direction: column;
        gap: 0px;
    }
    .contact-box{
        width: 90%;
        padding: 0px;
    }
    .yellowbox{
        width: auto;
        padding: 40px 40px;
    }
    .imagebox{
        width: 50%;
        padding: 0px 0px;
    }

    .windimg{
        display: none;
    }
    .infop-variant1{
        text-align: left;
    }

    .involved-img{
        width: 100%;
    }
    .image-over-section{
        max-width: 90%;
    }
    label{
        font-size: 20px;
    }
    .form-container{
        width: 90%;
    }

    }
